@font-face {
	font-family: "lemon-milk";
    src: url("./fonts/LEMONMILK-BoldItalic.otf") format("opentype");
}

.App {
    display: flex;
    font-family: "lemon-milk";
    flex-wrap: wrap;
    justify-content: stretch;
    flex-grow: 1;
}