.Sidebar {
    /* box-sizing: border-box; */
    /* border: 5px solid pink; */
    height: 100vh;
    top: 0;
    position: sticky;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:white;
    flex-wrap: wrap;
    padding-top: 0;
}

.SidebarContent {
    padding-left: 20px;
}

.Brand {
    color: pink;
}

li {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
   }

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: pink;
}

/* Size small */
@media screen and (min-width: 0px) {
    .Sidebar {
        width: 100vw;
        font-size: xxx-large;
        
        /* padding: 5vw auto auto 5vw; */
    }
}

/* Size medium */
@media screen and (min-width: 450px) {
    .Sidebar {
        width: 200px;
        font-size: large;
        /* padding: 5vw auto auto 5vw; */
    }
}

/* Size large */
@media screen and (min-width: 800px) {
    .Sidebar {
        width: 200px;
        font-size: large;
        /* padding: 50px 10px 10px 10px; */
    }
}